<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
{% load web_tags %}

<form method="GET" action="{% url 'mongo:add_author' %}">
	<table>
		<tr>
			<td><lablel for="firstname">Firstname</lablel></td>
			<td><input type="text" name="firstname" id="firstname"></td>
		</tr>
		<tr>
			<td><lablel for="lastname">Lastname</lablel></td>
			<td><input type="text" name="lastname" id="lastname"></td>
		</tr>
		<tr>
			<td><lablel for="genres">Genres</lablel></td>
			<td><input type="text" name="genres" id="genres"></td>
		</tr>
		<tr>
			<td><lablel for="phone">Phone Number</lablel></td>
			<td><input type="text" name="number_1" id="phone">
				<select name="type_1">
					<option value="home">Home</option>
					<option value="mobile">Mobile</option>
				</select>
			</td>
            <td><input type="text" name="number_2">
				<select name="type_2">
					<option value="home">Home</option>
					<option value="mobile">Mobile</option>
				</select>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit"></td>
		</tr>
	</table>
</form>

    <table>
		<tr><th>First Name</th><th>Last Name</th><th>Delete</th></tr>
		{% for author in author_list %}

		    <tr>
			    <td><a href="{% url 'mongo:show_author' author_id=author|mongo_id %}">{{ author.firstname }}</a></td>
			    <td>{{ author.lastname }}</td>
			    <td><a href="{% url 'mongo:delete_author' author_id=author|mongo_id %}">delete</a></td>
			</tr>

		{%  endfor %}
	</table>
</body>
</html>